.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 50px;
}

.display {
    grid-column: 1 / -1;
    background-color: #eee;
    padding: 10px;
    text-align: right;
    font-size: 24px;
}
